In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/vaaghu/.local/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/vaaghu/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in /home/vaaghu/.local/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [14]:
import pandas as pd
import json

In [25]:
raw_df = pd.read_csv("./codes-all.csv")
unique_df = raw_df.drop_duplicates(subset='AlphabeticCode')
df= unique_df.dropna(subset=['Entity', 'AlphabeticCode'])

In [26]:
df

,Entity,Currency,AlphabeticCode,NumericCode,MinorUnit,WithdrawalDate
0,AFGHANISTAN,Afghani,AFN,971.0,2,NaN
1,ÅLAND ISLANDS,Euro,EUR,978.0,2,NaN
2,ALBANIA,Lek,ALL,8.0,2,NaN
3,ALGERIA,Algerian Dinar,DZD,12.0,2,NaN
4,AMERICAN SAMOA,US Dollar,USD,840.0,2,NaN
...,...,...,...,...,...,...
436,ZIMBABWE,Zimbabwe Dollar (new),ZWN,942.0,NaN,2006-09
437,ZIMBABWE,Zimbabwe Dollar,ZWR,935.0,NaN,2009-06
438,ZZ01_Gold-Franc,Gold-Franc,XFO,NaN,NaN,2006-10
439,ZZ02_RINET Funds Code,RINET Funds Code,XRE,NaN,NaN,1999-11
440,ZZ05_UIC-Franc,UIC-Franc,XFU,NaN,NaN,2013-11

In [27]:
obj = []
df[:280].apply(lambda x: obj.append({"name": x['Entity'], "symbol": x["AlphabeticCode"]}) if x["AlphabeticCode"] else print(x), axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
408    None
409    None
412    None
413    None
414    None
Length: 280, dtype: object

In [28]:
file_path = 'data.json'

with open(file_path, 'w') as json_file:
    json.dump(obj, json_file)